<h1> Scrape Successful!</h1>
<br>
<h2>From here you can:</h2>
<br>
<%= link_to 'See All Articles', articles_path %>
<br>
<%= link_to 'See Articles Only Relating to Your Interests', interests_path %>
<br>
<%= link_to 'Or Go Back to Home', root_path %>